<nav class="col-md-3 col-lg-2 d-md-block sidebar collapse pt-6">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <!-- <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="user-management.html">
                    <i class="bi bi-people"></i> Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="category-management.html">
                    <i class="bi bi-grid"></i> Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product-management.html">
                    <i class="bi bi-box"></i> Products
                </a>
            </li>
        </ul>
    </div>
</nav>
